@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  color: #716F87;
  font-size: 16px;
  letter-spacing: 0.7px;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #FACC5F;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:active {
  background-color: #F7B10B;
}

a {
  text-decoration: none;
  color: #716F87;
}

ol,
ul,
li {
  list-style: none;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #23203F;
  font-size: 38px;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #716F87;
}

p {
  font-family: "Pretendard-Regular", sans-serif;
  text-align: center;
  color: #716F87;
}

.page-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #f1f1f1;
  z-index: 99;
  transition: all 0.3s;
}

.page-header.sticky {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.header-wrap .logo {
  position: relative;
  margin-left: 200px;
  text-align: center;
  top: 2px;
}
.header-wrap .logo img:nth-child(1) {
  position: relative;
  width: 28px;
  top: -1px;
  -webkit-animation: rotate_star-logo 4s ease infinite;
          animation: rotate_star-logo 4s ease infinite;
}
.header-wrap .logo img:nth-child(2) {
  position: relative;
  width: 19px;
  right: 5px;
}
.header-wrap .logo img:nth-child(3) {
  position: relative;
  width: 12px;
  right: 10px;
}
@-webkit-keyframes rotate_star-logo {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_star-logo {
  100% {
    transform: rotate(360deg);
  }
}
.header-wrap .nav {
  position: relative;
  margin-right: 200px;
}
.header-wrap .nav .gnb {
  display: flex;
  gap: 50px;
}
.header-wrap .nav .gnb li {
  position: relative;
  height: 90px;
  line-height: 90px;
}
.header-wrap .nav .gnb li a {
  position: relative;
  transition: all 0.3s;
}
.header-wrap .nav .gnb li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  margin-bottom: -10px;
  background: #FACC5F;
  transform: scaleX(0);
  transition: all 0.5s;
}

.nav .gnb li.on a::after,
.nav .gnb li a:hover::after {
  transform: scaleX(1);
}

.nav .gnb li.on a,
.nav .gnb li a:hover {
  color: #FACC5F;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

main section {
  padding: 20px 0;
}
main section h2 {
  padding: 20px 0;
}

.home {
  position: relative;
  background-color: #f1f1f1;
  text-align: center;
  top: 90px;
}
.home h2 {
  display: none;
}
.home .slogan {
  margin: 12px auto;
  width: 30%;
}
.home .slogan p {
  letter-spacing: 3px;
  color: #23203F;
  font-size: 39px;
}
.home .slogan p:nth-child(2) {
  letter-spacing: 5px;
  font-weight: 700;
  margin-top: 3px;
}
.home .slogan p:nth-child(2) span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.home .slogan p:last-child {
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 52px;
}
.home .slogan p:last-child span {
  color: #F7B10B;
}
.home .link ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.home .link ul li a {
  position: relative;
  font-weight: 600;
  color: #F7B10B;
  border-radius: 999px;
  border: 2px solid #F7B10B;
  box-shadow: 0px 2px 0px 0px #F7B10B;
  display: inline-block;
  width: 140px;
  height: 48px;
  line-height: 48px;
}
.home .link ul li a:active {
  top: 2px;
  box-shadow: none;
}
.home .link ul li a img {
  width: 16px;
}
.home .link ul li a:hover img {
  -webkit-animation: arrow 0.6s ease infinite;
          animation: arrow 0.6s ease infinite;
}
@-webkit-keyframes arrow {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes arrow {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
  100% {
    transform: translate(0px);
  }
}
.home .star-bg {
  position: absolute;
  left: -33%;
  top: -43%;
  -webkit-animation: rotate_star-bg 40s linear infinite;
          animation: rotate_star-bg 40s linear infinite;
}
@-webkit-keyframes rotate_star-bg {
  0% {
    transform: translateX(50%) translateY(50%) rotate(0deg);
  }
  100% {
    transform: translateX(50%) translateY(50%) rotate(360deg);
  }
}
@keyframes rotate_star-bg {
  0% {
    transform: translateX(50%) translateY(50%) rotate(0deg);
  }
  100% {
    transform: translateX(50%) translateY(50%) rotate(360deg);
  }
}
.home .profile-img {
  position: relative;
  padding: 20px 0 8px;
  z-index: 10;
}
.home .shadow-img {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -35%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.home .down-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FACC5F;
  position: absolute;
  left: 48%;
  bottom: 0;
  z-index: 30;
  transition: all 0.4s;
}
.home .down-btn a {
  padding: 25px 20px 36px;
}
.home .down-btn a img {
  position: relative;
  top: 29%;
  width: 50%;
}
.home .down-btn:hover {
  background-color: #F7B10B;
}

.about-wrap {
  position: relative;
  top: 90px;
  background-color: white;
}
.about-wrap .about {
  position: relative;
  padding: 50px 0 100px;
}
.about-wrap .about .info {
  margin: 10px 0;
}
.about-wrap .about .info p {
  font-size: 18px;
  padding-bottom: 6px;
}
.about-wrap .about .info-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}
.about-wrap .about .info-wrap .info-box {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 15px 70px 0px rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  margin: 0 20px;
  padding: 30px 50px;
  width: 270px;
  transition: all 0.3s;
}
.about-wrap .about .info-wrap .info-box .title {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #23203F;
  transition: all 0.3s;
}
.about-wrap .about .info-wrap .info-box .text {
  padding: 25px 15px 65px;
}
.about-wrap .about .info-wrap .info-box .text p {
  padding-bottom: 6px;
  text-align: start;
  line-height: 23px;
}
.about-wrap .about .info-wrap .info-box:hover {
  transform: translateY(-15px);
}
.about-wrap .about .info-wrap .info-box:hover .title {
  color: #FACC5F;
}
.about-wrap .skill {
  position: relative;
  padding: 100px 0 50px;
}
.about-wrap .skill .animation {
  padding: 110px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
.about-wrap .skill .animation .chart {
  margin: 0 20px;
  position: relative;
}
.about-wrap .skill .animation .chart h3 {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-wrap .skill .animation .chart p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}
.about-wrap .skill .animation .chart svg {
  width: 220px;
  height: 220px;
  fill: transparent;
  stroke-width: 9px;
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  stroke-linecap: round;
  stroke: #FACC5F;
  transform: rotate(-90deg);
}
.about-wrap .shadow-img {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -45%;
  transform: translate(-50%, -50%) scaleY(-1);
  z-index: 20;
}

.projects {
  position: relative;
  top: 90px;
  margin-top: 50px;
}
.projects .project-wrap {
  position: relative;
  padding-top: 20px;
}
.projects .project-wrap h2 {
  padding: 50px 0;
  font-family: "Montserrat", sans-serif;
}
.projects .project-wrap .project-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 150px 0;
  margin: 50px 0;
  gap: 10px;
}
.projects .project-wrap .project-box .project-img {
  position: relative;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
  z-index: 30;
}
.projects .project-wrap .project-box .project-img .project-pc {
  position: relative;
  width: 600px;
  height: auto;
}
.projects .project-wrap .project-box .project-img a .project-view {
  position: absolute;
  width: 600px;
  top: 35px;
  right: 0px;
  border-radius: 4px 4px 0px 0px;
}
.projects .project-wrap .project-box .project-img a .black-box {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 35px;
  right: 0;
  line-height: 370px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
  transition: all 0.4s;
  opacity: 0;
}
.projects .project-wrap .project-box .project-img a:hover .black-box {
  opacity: 1;
}
.projects .project-wrap .project-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.projects .project-wrap .project-text .project-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.projects .project-wrap .project-text .project-title p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
}
.projects .project-wrap .project-text .project-title p:nth-child(2) {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #23203F;
}
.projects .project-wrap .project-text .project-title p:nth-child(2) span {
  font-size: 16px;
  color: #716F87;
  margin-left: 15px;
}
.projects .project-wrap .project-text .project-explain {
  width: 380px;
}
.projects .project-wrap .project-text .project-explain p {
  text-align: start;
  line-height: 23px;
}
.projects .project-wrap .project-text .project-bottom {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.projects .project-wrap .project-text .project-bottom p {
  text-align: start;
  font-weight: 600;
}
.projects .project-wrap .project-text .project-bottom p:nth-child(1) {
  margin-bottom: 5px;
}
.projects .project-wrap .project-text .project-bottom p:nth-child(1) span {
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: 12px;
}
.projects .project-wrap .project-text .project-bottom p:nth-child(2) {
  margin-bottom: 5px;
}
.projects .project-wrap .project-text .project-bottom p:nth-child(2) span {
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: 12px;
}
.projects .project-wrap .project-text .project-bottom p:nth-child(3) span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-left: 12px;
}
.projects .project-wrap .project-text .project-link {
  padding-top: 10px;
}
.projects .project-wrap .project-text .project-link ul {
  display: flex;
  align-items: center;
  gap: 35px;
}
.projects .project-wrap .project-text .project-link ul li a {
  color: #F7B10B;
}
.projects .project-wrap .project-text .project-link ul li a img {
  width: 15px;
  height: 11px;
}
.projects .project-wrap .project-text .project-link ul li a:hover img {
  -webkit-animation: arrow 0.6s ease infinite;
          animation: arrow 0.6s ease infinite;
}
.projects .project2 .project-box {
  flex-direction: row-reverse;
}
.projects .project2 .project-box .project-view {
  height: 100%;
}
.projects .project3 .project-box {
  display: flex;
  justify-content: space-around;
}
.projects .project3 .project-box .project-img a {
  display: inline-block;
}
.projects .project3 .project-box .project-img a:first-child {
  margin-right: 50px;
}
.projects .project3 .project-box .project-img a img {
  display: block;
  width: 260px;
}

.contact {
  position: relative;
  top: 90px;
  height: 100%;
  padding: 0;
}
.contact .contact-wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin: 100px 0;
}
.contact .contact-wrap .contact-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contact .contact-wrap .contact-img {
  position: relative;
  left: -80px;
  -webkit-animation: ding 1.5s ease infinite;
          animation: ding 1.5s ease infinite;
}
@-webkit-keyframes ding {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ding {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.contact .contact-wrap .contact-img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.contact .contact-wrap .contact-text {
  position: relative;
  left: 300px;
}
.contact .contact-wrap .contact-text h2 {
  font-weight: 500;
  font-size: 42px;
  color: #fff;
  margin-bottom: 50px;
}
.contact .contact-wrap .contact-text p {
  color: #fff;
  text-align: start;
  font-size: 18px;
}
.contact .contact-wrap .contact-text p:last-child {
  margin-top: 6px;
}
.contact .contact-wrap .link {
  position: absolute;
  right: 0;
  top: 58%;
}
.contact .contact-wrap .link ul {
  display: flex;
  justify-content: center;
  gap: 17px;
}
.contact .contact-wrap .link ul li a {
  position: relative;
  color: #fff;
  border-radius: 999px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 0px 0px #fff;
  display: inline-block;
  width: 140px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.contact .contact-wrap .link ul li a:active {
  top: 2px;
  box-shadow: none;
}
.contact .contact-wrap .link ul li a img {
  width: 16px;
}
.contact .contact-wrap .link ul li a:hover img {
  -webkit-animation: arrow 0.6s ease infinite;
          animation: arrow 0.6s ease infinite;
}

#footer {
  position: relative;
  height: 150px;
  background-color: #f1f1f1;
}

.check {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.copyright {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  font-size: 13px;
}

#back-to-top {
  position: fixed;
  right: 60px;
  bottom: 35px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #FACC5F;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}
#back-to-top img {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 70%;
}
#back-to-top:hover {
  transform: translateY(-15%);
  background-color: #F7B10B;
}

#back-to-top.visible {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */