@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  color: #716f87;
  font-size: 16px;
  letter-spacing: 0.7px;
  box-sizing: border-box;
  word-break: keep-all;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffc114;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #716f87;
}

ol,
ul,
li {
  list-style: none;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #23203F;
  font-size: 34px;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #716f87;
}

p {
  font-family: "Pretendard-Regular", sans-serif;
  text-align: center;
  color: #716f87;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #f1f1f1;
}
.header-wrap .logo {
  margin-left: 200px;
  width: 100px;
  text-align: center;
}
.header-wrap .nav {
  margin-right: 200px;
}
.header-wrap .nav ul {
  display: flex;
}
.header-wrap .nav ul li a {
  padding-left: 50px;
  transition: 0.3s;
}
.header-wrap .nav ul li a:hover {
  color: #ffc114;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

main section {
  padding: 20px 0;
}

.home {
  position: relative;
  background-color: #f1f1f1;
  text-align: center;
}
.home .slogan {
  margin: 20px auto 0;
  width: 30%;
}
.home .slogan p {
  letter-spacing: 3px;
  color: #23203F;
  font-size: 42px;
}
.home .slogan p:nth-child(2) {
  letter-spacing: 5px;
  font-weight: 700;
  margin-top: 3px;
}
.home .slogan p:last-child {
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 55px;
}
.home .slogan p span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.home .down-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffc114;
  position: absolute;
  left: 48%;
  bottom: 0;
  z-index: 10;
  transition: 0.4s;
}
.home .down-btn a {
  padding: 25px 20px 36px;
}
.home .down-btn a img {
  position: relative;
  top: 29%;
  width: 50%;
}
.home .down-btn:hover {
  background-color: #F7B10B;
}
.home::after {
  content: "";
  background: url(../../img/image.svg) no-repeat center;
  background-size: 115% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 31%;
}

.about {
  position: relative;
  height: 100vh;
  margin-top: 70px;
}

.skill {
  position: relative;
}
.skill .animation {
  padding: 150px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 58px 43px;
}
.skill .animation .chart {
  margin: 0 20px;
  position: relative;
}
.skill .animation .chart h3 {
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
}
.skill .animation .chart p {
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
}
.skill .animation .chart svg {
  width: 220px;
  height: 220px;
  fill: transparent;
  stroke-width: 10px;
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  stroke: #ffc114;
  transform: rotate(-90deg);
  stroke-linecap: round;
}
.skill::after {
  content: "";
  background: url(../../img/image.svg) no-repeat center;
  background-size: 115% 100%;
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  padding-top: 31%;
  transform: scaleY(-1);
}

.projects {
  position: relative;
  margin-top: 50px;
}
.projects h2 {
  margin: 50px 0;
  font-family: "Montserrat", sans-serif;
}
.projects .project-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0;
  margin: 25px 0;
}
.projects .project-wrap img {
  width: 60%;
}
.projects .project-wrap .text {
  width: 40%;
}
.projects .project2 .project-wrap {
  flex-direction: row-reverse;
}
.projects .project4 .project-wrap {
  flex-direction: row-reverse;
}

.contact {
  position: relative;
  height: 100%;
  background: url(../../img/footer-bg.png) no-repeat center;
  padding: 0;
}
.contact .contact-wrap {
  display: flex;
  align-items: center;
  margin: 100px 0;
}
.contact .contact-wrap img {
  position: relative;
  left: -80px;
}
.contact .contact-wrap .info {
  position: relative;
  left: 200px;
}
.contact .contact-wrap .info h2 {
  font-size: 42px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 50px;
}
.contact .contact-wrap .info p {
  color: #fff;
  text-align: start;
  font-size: 18px;
}
.contact .contact-wrap .info p:last-child {
  margin-top: 6px;
}/*# sourceMappingURL=style.css.map */