#footer {
  position: relative;
  height: 100px;
  line-height: 100px;
  background-color: $color-gray;

  .check{
    position: relative;
    text-align: center;
    bottom: 0;
  }
  #back-to-top {
    position: fixed;
    right: 60px;
    bottom: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-primary;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 99;
    img {
      position: absolute;
      left: 7px;
      top: 7px;
      width: 70%;
    }
    &:hover {
      transform: translateY(-15%);
      background-color: $color-secondary;
    }
  }
  #back-to-top.visible {
    opacity: 1;
  }
}
