.page-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: $color-gray;
  backdrop-filter: blur(10px);
  z-index: 99;
  transition: all 0.3s;
}
.page-header.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  .logo {
    position: relative;
    margin-left: 200px;
    text-align: center;
    top: 2px;
    img {
      &:nth-child(1) {
        position: relative;
        width: 28px;
        top: -1px;
        animation: rotate_star-logo 4s ease infinite;
      }
      &:nth-child(2) {
        position: relative;
        width: 19px;
        right: 5px;
      }
      &:nth-child(3) {
        position: relative;
        width: 12px;
        right: 10px;
      }
      @keyframes rotate_star-logo {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .nav {
    position: relative;
    margin-right: 200px;
    .gnb {
      display: flex;
      gap: 50px;
      li {
        position: relative;
        height: 90px;
        line-height: 90px;
        a {
          position: relative;
          transition: all 0.3s;
          &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            margin-bottom: -10px;
            background: $color-primary;
            transform: scaleX(0);
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
.nav .gnb li.on a::after,
.nav .gnb li a:hover::after {
  transform: scaleX(1);
}
.nav .gnb li.on a,
.nav .gnb li a:hover {
  color: $color-primary;
}
