.container {
  max-width: 1300px;
  margin: 0 auto;
}

main section {
  padding: 20px 0;
  h2 {
    padding: 20px 0;
  }
}

.home {
  position: relative;
  background-color: $color-gray;
  text-align: center;
  h2 {
    display: none;
  }
  .slogan {
    margin: 12px auto;
    width: 30%;
    p {
      letter-spacing: 3px;
      color: $color-text2;
      font-size: 39px;
      &:nth-child(2) {
        letter-spacing: 5px;
        font-weight: 700;
        margin-top: 3px;
      }
      &:last-child {
        letter-spacing: 5px;
        font-weight: 700;
        font-size: 52px;
      }
      span {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
      }
    }
  }
  .link {
    display: flex;
    justify-content: center;
    gap: 15px;
    a {
      font-weight: 600;
      color: $color-secondary;
      border: 2px solid $color-secondary;
      border-radius: 9999px;
      display: inline-block;
      width: 140px;
      height: 48px;
      line-height: 48px;
      img {
        width: 16px;
      }
      &:hover img {
        animation: arrow 0.8s ease infinite;
      }
      @keyframes arrow {
        0% {
          transform: translate(0px);
        }
        50% {
          transform: translate(4px);
        }
        100% {
          transform: translate(0px);
        }
      }
    }
  }
  .profile-img {
    padding: 20px 0 8px;
  }
  .down-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $color-primary;
    position: absolute;
    left: 48%;
    bottom: 0;
    z-index: 10;
    transition: all 0.3s;
    a {
      padding: 25px 20px 36px;
      img {
        position: relative;
        top: 29%;
        width: 50%;
      }
    }
    &:hover {
      background-color: $color-secondary;
    }
  }
  &::after {
    content: "";
    background: url(../../img/image.svg) no-repeat center;
    background-size: 115% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 31%;
  }
}

.about {
  position: relative;
  padding: 50px 0 100px;
  .info {
    margin: 20px 0;
    p {
      font-size: 18px;
      padding-bottom: 6px;
    }
  }
  .info-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    .box {
      position: relative;
      display: flex;
      flex-direction: column;
      box-shadow: 5px 15px 70px 0px rgb(0 0 0 / 8%);
      border-radius: 50px;
      margin: 0 20px;
      padding: 30px 50px;
      width: 270px;
      transition: all 0.3s;
      .circle {
        position: absolute;
        left: 30px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color-gray;
      }
      .title {
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
        color: $color-text2;
      }
      .text {
        padding: 25px 15px 65px;
        p {
          padding-bottom: 5px;
          text-align: start;
          line-height: 20px;
        }
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.skill {
  position: relative;
  padding: 100px 0 50px;
  .animation {
    padding: 110px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    .chart {
      margin: 0 20px;
      position: relative;
      h3 {
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      p {
        margin-top: 10px;
        font-family: "Montserrat", sans-serif;
      }
      svg {
        width: 220px;
        height: 220px;
        fill: transparent;
        stroke-width: 9px;
        stroke-dasharray: 630;
        stroke-dashoffset: 630;
        stroke-linecap: round;
        stroke: $color-primary;
        transform: rotate(-90deg);
      }
    }
  }
  &::after {
    content: "";
    background: url(../../img/image.svg) no-repeat center;
    background-size: 115% 100%;
    position: absolute;
    top: 96%;
    left: 0;
    width: 100%;
    padding-top: 31%;
    transform: scaleY(-1);
  }
}
.projects {
  position: relative;
  margin-top: 50px;
  h2 {
    margin: 50px 0;
    font-family: "Montserrat", sans-serif;
  }
  .project-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0;
    margin: 25px 0;
    img {
      width: 60%;
    }
    .text {
      width: 40%;
    }
  }
  .project2 .project-wrap {
    flex-direction: row-reverse;
  }
  .project4 .project-wrap {
    flex-direction: row-reverse;
  }
}
.contact {
  position: relative;
  height: 100%;
  background: url(../../img/footer-bg.png) no-repeat center;
  padding: 0;
  .contact-wrap {
    position: relative;
    display: flex;
    align-items: center;
    margin: 100px 0;
    img {
      position: relative;
      left: -80px;
      animation: ding 1s ease infinite;
      @keyframes ding {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(0px);
        }
      }
      &:hover{
        animation-play-state: paused;
      }
    }
    .me {
      position: relative;
      left: 200px;
      h2 {
        font-size: 42px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 50px;
      }
      p {
        color: #fff;
        text-align: start;
        font-size: 18px;
        &:last-child {
          margin-top: 6px;
        }
      }
    }
  }
  .box-image {
    position: absolute;
    width: 200px;
    bottom: 50px;
    right: 50px;
    z-index: 1;
  }
  .money-image {
    position: absolute;
    width: 200px;
    bottom: 80px;
    right: 150px;
  }
}
