h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $color-text2;
  font-size: 34px;
  font-weight: 600;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: $color-text1;
}
p {
  font-family: "Pretendard-Regular", sans-serif;
  text-align: center;
  color: $color-text1;
}
